application/models/db/
bower_components
asset/images
asset/tmp
vendor/
application/logs/*
composer.lock
composer.phar
asset/file_upload
asset/data_note
application/config/family/config.php
asset/uploads/
backup_file/*.zip